*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1;
}

header{
    position: fixed;
    width: 100%;
}

nav{
  background-color: rgb(255, 84, 22);
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 40px;
}

.h-1, .h-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h-1-2 span img{
    width: 20px;
}

.h-1-1 a{
     text-decoration: none;
     color: white;
     font-family: arial;
     font-size: 12px;
     margin-right: 20px;
     transition: 0.15s;
}

.h-1-1 a:hover{
    color:rgb(219, 219, 219);
}

.h-1-2 span{
    color: white;
    font-family: arial;
    font-size: 14px;
    padding: 4px 6px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgba(0 ,0 ,0,.3);
    display: flex;
    align-items: center;
}

.h-2{
    margin-top: 4px;
}

 .left-section{
    width: 100px;
    margin-right: 20px;
}

.left-section img{
    height: 50px;
}

.middle-section{
    width: 730px;
}

.middle-section input{
    width: 100%;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
}

.middle-section input::placeholder{
    color: rgb(165, 165, 165);
    font-size: 13px;
}

.middle-section .input-container{
    position: relative;
}

.right-section{
    width: 280px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.right-section .vertical-line{
    width: 1px;
    height: 16px;
    background-color:white
}

.right-section a{
    font-family:arial;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    color: white; 
     padding: 10px 10px;
}

.right-section a:hover{
    background-color: rgba(0 ,0 ,0,.1);
    border-radius: 10px;
}

.section-2{
    padding: 115px 25px;
}

.sec-1{
    display: flex;
    justify-content: space-between;
}

.sec-1-1{
    background-color: white;
    width: 240px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgba(0, 0,0, 0.10);
}

.sec-1-1 li {
    list-style: none;;
    font-family: roboto;
    font-size: 12px;
    color:  #757575;
    transition: 0.15s;
    margin-top: 4px;
}

.sec-1-1 li:hover{
    background-color: rgb(228, 228, 228);
    color: rgb(255, 84, 22);
}

.sec-1-1 li i{
    background-color: rgb(244, 244, 244); 
    padding: 6px;
    border-radius: 14px;
}

.sec-1-2 img{
    width: 940px;
    height: auto;
    border-radius: 10px;
}

.sec-2:hover{
    background-color:  rgb(255, 229, 219);   
}

.sec-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    background-color:  rgb(255, 243, 238);
    padding: 8px 12px
}

.sec-2-1 a{
     display: flex;
     align-items: center;
     text-decoration: none;
     color: black;
     font-family: arial;
     font-size: 14px;
}

.sec-2-2{
    width: 1px;
    height: 12px;
    background-color: rgb(110, 110, 110);
}

.sec-3{
    background-color: white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.10);
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec-3-1, .sec-3-1 a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-3-1 {
    font-family: arial;
    font-size: 14px;
}

.sec-3-1 a{
    text-decoration: none;
    color: black;
    transition: 0.10s;
}

.sec-3-1 a:hover{
    color: rgb(255, 84, 22);
}

.sec-3-1 img{
    width: 80px;
    margin-bottom: 10px;
}

.sec-3-line{
    width: 1px;
    height: 50px;
    background-color: rgb(227, 227, 227);
}

.sec-4{
    margin-top: 20px;
}

.sec-4 h2{
    font-family: roboto;
    font-weight: 400;
    color: rgb(109, 109, 109);
}

.sec-4-1{
    background-color: white;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.10);
}

.sec-4-1 p{
    font-family:roboto;
    font-size: 15px;
    color: rgb(255, 91, 32);
}

.sec-4-1 button{
    border: 1px solid rgb(255, 91, 32);
    padding: 9px 8px;
    background-color: white;
    color: rgb(255, 91, 32);
    font-size: 14px;
    font-family: roboto;
}

.sec-4 .sec-4-line{
    background-color: rgb(188, 188, 188);
    height: 1px;
    width: 100%;
}

.sec-4-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    padding: 10px 0px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 1px 1px rgba(0, 0,0 ,0.10);
}

.sec-4-2-1 {
    width: 190px;
    padding-bottom: 8px;
}

.sec-4-2-1:hover{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.20) ;
}

.sec-4-2-1 img{
    margin-bottom: 2px;
    width: 100%;
    height: auto;
}

.sec-4-2-1 p{
    font-family: arial;
    font-size: 14px;
    padding-right: 8px;
    padding-left: 5px;
    margin-bottom: 5px;
    color: black;
}

.sec-4-2-1 .rs{
    font-size: 16px;
    color: rgb(255, 91, 32);
    margin-bottom: 0;
    font-family: roboto;
    margin-bottom: 5px;
}

.sec-4-2-1 .bati{
    width: 100%;
    height: 188px;
}

.sec-4-2-1 p s{
    color: gray;
    font-size: 12px;
}

.sec-4-2-1 .img-con{
    position: relative;
}

.sec-4-2-1 a{
    text-decoration: none;
}

.sec-5{
    margin-top: 35px;
}

.sec-5 h2{
    font-family: arial;
    font-weight: 500;
    color: rgb(64, 64, 64);
    margin-bottom: 7px;
}

.sec-5-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1px;
    row-gap: 1px;
}

.sec-5-1-2{
    background-color: white;
    width: 152px;
    padding: 12px 19px;
}

.sec-5-1-2:hover{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.20) ;
}

.sec-5-1-2 a{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-5-1-2 img{
    width: 80px;
    height: auto;
    margin-bottom: 8px;
}

.sec-5-1-2 p{
    font-family: arial;
    font-size: 14px;
    text-align: center;
}

.sec-6{
    margin-top: 24px;
}

.sec-6 h2{
    font-family: roboto;
    font-weight: 400;
    color: rgb(109, 109, 109);
    margin-bottom: 2px;
}

.sec-6-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 20px;
}

.sec-6-2 {
    width: 190px;
    padding-bottom: 8px;
    background-color: white;
}

.sec-6-2:hover{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.20);
}

.sec-6-2 .img{
    margin-bottom: 2px;
    width: 100%;
    height: auto;
}

.sec-6-2 .mall{
    margin-bottom: 2px;
    height: 10px;
    padding-left: 12px;
}

.sec-6-2 p{
    font-family: arial;
    font-size: 14px;
    padding-right: 8px;
    padding-left: 5px;
    margin-bottom: 5px;
    color: black;
}

.sec-6-2 .rs{
    font-size: 16px;
    color: rgb(255, 91, 32);
    margin-bottom: 0;
    font-family: roboto;
    margin-bottom: 5px;
}

.sec-6-2 p s{
    color: gray;
    font-size: 12px;
}

.sec-6-2 a{
    text-decoration: none;
}

.s-6-2{
   padding-left: 6px;
}

.s-6-2 span{
    padding-left: 6px;
}

.s-6-2 span i{
    font-size: 8px;
    color: #faca51;
    display: inline-block
}

.s-6-2 span p{
    display: inline-block;
    font-size: 10px;
    color: gray;
}

.sec-7{
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-7 a{
    text-decoration: none;
}

.sec-7 button{
    border: 1px solid  rgb(255, 91, 32);
    color: rgb(255, 91, 32);
    padding: 10px 130px;
    font-family: arial;
    font-weight: 500;
    font-size: 15px;
}

.sec-8{
    margin-top: 28px;
}

.sec-8-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.l-section h2,
 .m-section h2,
 .m-2-section h2,
 .r-section .h2,
 .r-3-s h2 {
   font-family: roboto;
   font-weight: 400;
   font-size: 20px;
   color: rgb(255, 91, 32);
   margin-bottom: 13px;
 }

.l-section li,
 .m-section li,
 .m-2-section li{
    list-style: none;
    margin-bottom: 3px;
 }

.l-section a,
 .m-section a,
 .m-2-section a{
    text-decoration: none;
    color: black;
    font-family: roboto;
    font-size: 14px;
    transition: 0.20s;
}

.l-section a:hover,
 .m-section a:hover,
 .m-2-section a:hover{
    text-decoration:underline;
 }

.l-section .make{
    margin-top: 30px;
}

.m-2-section .flag{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.flag, .bb{
    margin-right: 32px;
}

.flag a{
    margin-bottom: 8px;
}

.m-2-section a{
    display: flex;
    align-items: center;
}

.m-2-section .flag img{
    margin-right: 8px;
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 15px;
}

.m-2-1{
    margin-top: 20px;
}

.m-2-1 .payment{
    display: grid;
    grid-template-columns:50px 50px 50px 50px;
}

.m-2-1 .payment img{
    margin-bottom: 10px;
    width: 30px;
}

.m-3-1{
    margin-top:20px ;
}

.m-3-1 img{
    width: 70px;
}

.r-1-s{
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}

.r-1-s .barcode img{
    width: 80px;
    border-radius: 7px;
}

.links{
    display: flex;
    flex-direction: column;
}

.r-1-s .links img{
    width: 70px;
}

.r-2-s{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.r-2-s img{
    width: 30px;
    display: inline-block;
    margin-right: 10px;
}

.r-2-s h2{
display: inline-block;
font-family:roboto;
font-size: 18px;
color:rgb(255, 91, 32);
}

.text{
    vertical-align: top;
    display: inline-block;
}

.r-2-s h2{
display: inline-block;
font-family: roboto;
font-size: 18px;
color:rgb(255, 91, 32);
}

.r-2-s .text p{
    margin-left: 1px;
    margin-top: 3px;
    font-family: roboto;
    font-size: 9px;   
}

.r-3-s h2{
    margin-top: 40px;
}

.r-3-s .follow img{
    width: 38px;
    margin-right: 8px;
}

.r-3-s .follow a{
    text-decoration: none;
}

.r-3-s .follow{
    display: flex;
    align-items: center;
}

.sec-9{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 24px;
    background-color: #ededed;
    padding: 24px;
}

.s9-1 h1,
.s9-2 h1{
    font-size: 19px;
    color: #606060;
    font-family: roboto;
    margin-bottom: 12px;
    font-weight: 400;
}

.s9-1 h2{
    font-size: 16px;
    color:#606060;
    font-family: roboto;
    margin-bottom: 12px;
    font-weight: 400;
    margin-bottom: 17px;
}

.s9-1 h3,
.s9-2 h3{
    font-size: 13px;
    margin-bottom: 2px;
    color:#606060;
    font-family: roboto;
    font-weight: 500;

}

.s9-1 p,
.s9-2 p{
    color: #888;
    font-family: roboto;
    font-size: 10px;
    line-height: 16px;
    margin-bottom: 15px;
}

.s9-3 h2,
.s9-4 h2 {
    font-family: arial;
    font-size: 18px;
    font-weight: 500;
    color:#606060;
    margin-bottom: 5px;
}

.s9-3 h3 a,
.s9-4 h3 a{
    text-decoration: none;
    font-family: arial;
    font-size: 13px;
    font-weight: 500;
    color:#606060;
}

.s9-3 h3 a:hover,
.s9-4 h3 a:hover{
    text-decoration: underline;
}

.s9-3 p a,
.s9-4 p a{
    text-decoration: none;
    color: #888;
}

.s9-3 p a:hover,
.s9-4 p a:hover{
    text-decoration: underline;
}

.s9-3 .see{
    text-decoration: none;
    color: #199cb7;
    font-family: arial;
    font-size: 12px;
}

.s9-3 .see:hover{
    text-decoration: underline;
}

.s9-3 p,
.s9-4 p
{
    font-family: arial;
    font-size: 11px;
    margin-bottom: 12px;
    line-height: 15px;
}

.s9-3 h3{
}




